/* .main-div {
    border-radius: 22.112px;
    border: 1.382px solid #FFF2EE;
    background: radial-gradient(50.51% 53.12% at 82.21% 11.15%, #262626 0%, #141414 100%);

    display: flex;
    padding: 36px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */



.main-div {

  border-radius: 22px;

  /* GRADIENT BORDER (FAKES USING MASK) */
  border: 1.5px solid transparent;
  background:
    /* inner background */
    radial-gradient(50.51% 53.12% at 82.21% 11.15%, #262626 0%, #141414 100%),
    /* border gradient */
    linear-gradient(180deg, #545454 38%, rgba(195, 194, 194, 0) 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;

  padding: 36px 32px;
}


.title {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: white;
    font-size: 22.112px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.description {
    color: #A3A3A3;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}